<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.finalproject.mapper.MemberMapper">
    
    <select id="login" resultType="com.kh.finalproject.dto.Member">
        SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, 
               MEMBER_NICKNAME, MEMBER_TEL, MEMBER_ADDRESS,
               PROFILE_IMG, AUTHORITY, 
               TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE 
        FROM "MEMBER" 
        WHERE MEMBER_EMAIL = #{memberEmail}
        AND MEMBER_DEL_FL = 'N'
    </select>
    
    <select id="checkEmail" resultType="_int">
        SELECT COUNT(*)
        FROM "MEMBER"
        WHERE MEMBER_DEL_FL = 'N'
        AND MEMBER_EMAIL = #{memberEmail}
    </select>
    
    <select id="checkNickname" resultType="_int">
        SELECT COUNT(*)
        FROM "MEMBER"
        WHERE MEMBER_DEL_FL = 'N'
        AND MEMBER_NICKNAME = #{memberNickname}
    </select>
    
    <insert id="signup" parameterType="com.kh.finalproject.dto.Member">
        INSERT INTO "MEMBER" (
            MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_NICKNAME, 
            MEMBER_TEL, MEMBER_ADDRESS, AUTHORITY, MEMBER_DEL_FL, ENROLL_DATE
        )
        VALUES(
           	SEQ_MEMBER_NO.NEXTVAL, 
            #{memberEmail},
            #{memberPw},
            #{memberNickname},
            #{memberTel},
            #{memberAddress},
            DEFAULT, 
            DEFAULT,
            DEFAULT
        )
    </insert>

    <select id="selectMemberList" resultType="com.kh.finalproject.dto.Member">
        SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_DEL_FL
        FROM "MEMBER"
        ORDER BY MEMBER_NO
    </select>

</mapper>
